$primary: #165c7d;
$secondary: #ffa300;
$blue: #009ed0;
$blue-medium: #007d8a;
$green: #00c246;
$red: #c13018;
$yellow: #fcd610;
$black: #040f14;
$gray-4: #889499;
$gray-3: #a7b0b5;
$gray-2: #a7b0b5;
$gray-1: #e7eef1;
$primary-140: #012f44;
$primary-120: #013f5c;
$primary-80: #457d97;
$primary-60: #739db1;
$primary-40: #a2becb;
$primary-20: #d0dee5;
$background: #e8eff2;
$secondary-120: #c37d00;
$secondary-80: #ffb533;
$secondary-60: #ffc866;
$secondary-40: #ffda99;
$secondary-20: #ffedcc;
$white: #fff;
$text-subtle: #787878;
