@import "../../../../assets/scss/colors.scss";
@import "../../../../assets/scss/typography.scss";

.card-ailos {
  background-color: $white;
  border-radius: 2px;
  padding: 20px;
}

.legend {
  color: $text-subtle;
}
